
    <div class="container-fluid" style="width: 90%">
        <div id="carousel-fade" class="carousel carousel-fade" data-ride="carousel" data-interval="4000">

            <div class="carousel-inner embed-responsive embed-responsive-16by9" role="listbox">
                <div class="carousel-item embed-responsive-item active">
                    <img src="/images/delicounter1.jpg" alt="First slide image" class="img-fluid">
                </div>

                <div class="carousel-item embed-responsive-item">
                    <img src="/images/deliCounter2.jpg" alt="Second slide image" class="img-fluid">

                </div>

                <div class="carousel-item embed-responsive-item">
                    <img src="/images/deliCounter3.jpg" alt="Third slide image" class="img-fluid">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12"><br><br><br><br><br><br></div> -->
            <div class="indexBlock" id="jumboBody">
                <div>
                    <h4 id="jumboHeadline">
                        TORI'S<br>DELI</h4>Welcome to Tori's Deli, home of the ten second sandwich! Why wait for lunch? At Tori's we'll deliver your virtual sandwich in mere moments so you'll have the time you need to enjoy it. Click the menu button to get started!<br><br>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <a href="/menu"><button type="button" class="btn btn-outline-secondary" id="homeMenuButton" >Menu</button></a>
                        <a href="/index"><button type="button" class="btn btn-outline-secondary" id="homeOrderButton">Check Orders</button></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <script src="assets/javascript/app.js"></script>
