<div class="menu">
        <ul class="menu-list">
            {{!-- All of this li items will eventaully become a POST that should post the data-order value to the database This is 
                obviously very basic. I usually start out very simple and add style once I get a base--}}

            <li data-order="pastrami">Pastrami
                <p class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor nam debitis? Molestias, tenetur accusamus.</p>
                <p class="price">$000</p>
            </li>
            <li data-order="reuben">reuben
                <p class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor nam debitis? Molestias, tenetur accusamus.</p>
                <p class="price">$000</p>
            </li>    
            <li data-order="turkey-club">Turkey Club
                <p class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor nam debitis? Molestias, tenetur accusamus.</p>
                <p class="price">$000</p>
            </li>    
            <li data-order="french-dip">French Dip
                <p class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor nam debitis? Molestias, tenetur accusamus.</p>
                <p class="price">$000</p>
            </li>    
            <li data-order="tuna-melt">Tuna Melt
                <p class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor nam debitis? Molestias, tenetur accusamus.</p>
                <p class="price">$000</p>
            </li>    
            <li data-order="chicken-salad">Chicken salad
                <p class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor nam debitis? Molestias, tenetur accusamus.</p>
                <p class="price">$000</p>
            </li>    
            <li data-order="italian">Italian
                <p class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor nam debitis? Molestias, tenetur accusamus.</p>
                <p class="price">$000</p> 
            </li>            
            <li data-order="brisket">Brisket
                <p class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor nam debitis? Molestias, tenetur accusamus.</p>
                <p class="price">$000</p>
            </li>    
            <li data-order="ham-and-swiss">Ham and Swiss
                <p class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor nam debitis? Molestias, tenetur accusamus.</p>
                <p class="price">$000</p>
            </li>    
            <li data-order="meatball">Meatball
                <p class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor nam debitis? Molestias, tenetur accusamus.</p>
                <p class="price">$000</p>
            </li>    

        </ul>

        <a href="/">Home</a>
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
