<div class="queued">
    <h2 class="ordered-title">In Queue</h2>
    <ul class="queued-orders">

        
        {{!-- handlebars $for each will go here where completed is false  --}}

    </ul>
</div>

<div class="completed">
    <h2 class="ordered-title">Completed</h2>
    <ul class="completed-orders">
        {{!-- handlebars $for each will go here where completed is true --}}
    </ul>
</div>

<a href="/">Home</a>
<a href="/menu">menu</a>