
.menu{
  display: block;
  width: 80%;
  height:100%;
  margin: -2rem auto;
}

.menu-wrap{
  /* background: url(/images/background.jpg); */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-repeat:repeat;
  background-size: contain;
  height:100%;
  width:100%;
  padding-bottom:35px;
}

.menu-list{
  list-style: none;
  margin: 2rem;
  padding-top: 2rem;
  display: block;
}

.menu-list li{
  border: 2px solid black;
  padding: .25rem;
  margin:.25rem;  
  background: white;
  opacity: .9;
  display: block;
  font-size: 1.5rem;

}

.order-button{
  border: 1px solid black;
  border-radius: .2rem;
  background: black;
  color: white;
  display: inline-block;
  padding: .25rem;

}

.order-button:hover{
  cursor: pointer;
}

.nav-button{
  border: 1px solid black;
  border-radius: .2rem;
  background: white;
  color: black;
  display: inline-block;
  padding: .25rem;
  margin: .5rem;

}

.nav-button:hover{
  cursor: pointer;
}

.menu-thumbnail{
  display: block;
  float: right;
  margin:1rem 5rem;
  height: 150px;
  width: 200px;
  border:2px solid black;
  border-radius: .25rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.menu-title{
  color: white;
  padding-top: 1rem;
  margin: 0 auto;
  text-align: center;
  
}

#card-menu{
  /* display: none; */
} 

#button-wrap{
  text-align: center;
}

#button-nav{
  display: inline-block;
}

#card-wrap{
  align-content: center;
}

/* desktop only for now
  
 @media  (min-width: 768px) { 
 
  .menu-wrap{
    width:100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .menu {
    width: 95%;
    display:block;
    margin: 0 auto;
  }

  .menu-list{
    display: none;
  }

  #card-menu{
    display: inline-block;
    margin: 0 auto;
    padding: auto;
  }

  .card{
    display: inline-block;
    margin: .5rem;
  }

  .card img{
    height:250px;
    width:100%;
  }

  #nav-button{
    display: block;
  }
  
}

@media (max-width: 768px){

  #card-menu{
    display: none;
  }

  .menu-list{
    list-style: none;
    margin: 2rem;
    padding-top: 2rem;
    display: block;
  }
  
  .menu-list li{
    border: 2px solid black;
    padding: .25rem;
    margin:.25rem;  
    background: white;
    opacity: .9;
    display: block;
    font-size: 1.5rem;
  
  }

}    
